.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.keyboard_case {
  position: absolute;
  margin-top: 20%;
  background-color: #734b43;
  padding-top: 9yar0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.piano_title {
  color: greenyellow;
  font-style: italic;
}

.powerButton {
  cursor: pointer; 
  background-color: transparent; 
  color: #3498db; 
  border-radius: 50%;
  font-size: 1em; 
  box-shadow: 0 6px 6px rgba(11, 29, 5, 0.6); 
}

.volume_slider {
}
.volume_label {
  color: greenyellow;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
